<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link  th:href="@{/css/bootstrap.min.css}"
           href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error{
            border-color: red;
            color: red;
        }
    </style>
</head>
<body>
<br>
<div class="container">
    <div class="py-3 text-center">
        <h1 class="font-monospace-bold" th:text="#{page.deleteMember}">멤버 삭제 폼</h1>
    </div>

    <h4 class="mb-3 text-primary" th:if="${param.status}" th:text="#{text.deleteComplete}">삭제 완료</h4>
    <h4 class="mb-3" th:unless="${param.status}" th:text="#{order.write.deleteMember}">삭제할 멤버 입력</h4>

    <form action="member.html" th:action th:object="${member}" method="post">

        <div>
            <label for="id" th:text="#{label.member.id}">멤버 Id</label>
            <input type="text" id="id"  class="form-control"
                   th:field="*{id}"
                   th:errorclass="field-error"
                   th:placeholder="#{order.write.deleteId}" placeholder="삭제할 멤버 Id을 입력하세요">
        </div>
        <div class="field-error" th:errors="*{id}">Id 입력 오류</div>

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text = "${err}">글로벌 오류 메시지</p>
        </div>


        <hr class="my-2">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary" type="submit"
                        th:text="#{button.delete}">멤버 삭제</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary"
                        onclick="location.href='members.html'"
                        th:onclick="|location.href='@{/basic/members}'|"
                        type="button"
                        th:if="${param.status}"th:text="#{button.list}">목록으로</button>
                <button class="w-100 btn btn-secondary"
                        onclick="location.href='members.html'"
                        th:onclick="|location.href='@{/basic/members}'|"
                        type="button"
                        th:unless="${param.status}" th:text="#{button.cancel}">취소</button>
            </div>


        </div>
    </form>
</div> <!-- /container -->
</body>
</html>