<!DOCTYPE HTML>
<html xmlns:th="http: //www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>멤버 연락처 목록</h2>

        <div class="col">
            <button class="btn btn-outline-danger btn-sm  float-end "
                    onclick="location.href='deleteForm.html'"
                    th:onclick="|location.href='@{/basic/members/delete}'|"
                    type="button">멤버 삭제</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/basic/members/add}'|"
                    type="button">멤버 등록</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>이름</th>
                <th>나이</th>
                <th>생년월일</th>
                <th>연락처</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td><a href="member.html" th:href="@{|/basic/members/${member.id}|}" th:text="${member.id}">회원 Id</a></td>
                <td><a href="member.html" th:href="@{|/basic/members/${member.name}|}" th:text="${member.name}">회원 나이</a></td>
                <td th:text="${member.age}">20</td>
                <td th:text="${member.birthday}">19980803</td>
                <td th:text="${member.phoneNumber}">01053092890</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>